.imgretangulo{
    width: 600px;
    height: 100px 

}

.banner {
    width: auto;
    position: relative;
    margin-bottom: 1.5rem;
}

.fundo {
    width: 100%;
    top: 0px;
    left: 0px;
}

.banner__imagem {
    width: 80%;
    top: 0px;
    left: 0px;
}

.banner__titulo {
    color: #f3f4f4;
    font-size: 50px;
    width: 800px;
    line-height: 100px;
    position: absolute;
    top: 80px;
    left: 300px;
}

.banner__nav {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 40px;
    position: absolute;
    top: 50px;
    left: 30px;
}

.texto{
    background: #61eb8f;
    font-style: italic;
    color: #e01313;
    font-weight: bold;
    font-size: 20px;
    
}

.icone {
    color: #FFFFFF; 
    border-color: aqua;
    width: 20px;
    height: 20px 
}

.botao {
    background-color: #052de0 ;
    color: #cecbda;
    font-weight: bold;
    font-style: italic;
    width: 100px;
    line-height: 20px;
   
    
}