.imgretangulo{
    width: 600px;
    height: 100px 

}

.banner {
    width: auto;
    position: relative;
    margin-bottom: 1.5rem;
}

.banner__imagem {
    width: 80%;
}

.banner__titulo {
    color: #FFFFFF;
    font-size: 50px;
    width: 800px;
    line-height: 100px;
    position: absolute;
    top: 80px;
    left: 50px;
}
.texto{
    background: #61eb8f;
    font-style: italic;
    color: #e01313;
    font-weight: bold;
    font-size: 20px;
    
}

.icone {
    width: 20px;
    height: 20px 
}

.botao {
    background-color: #052de0 ;
    color: #cecbda;
    font-weight: bold;
    font-style: italic;
    width: 100px;
    line-height: 20px;
   
    
}