
{% extends 'base.html'%}
    {% block conteudo %}

    <thead class="thead-default">

        <div class="container">
            <div class="row mt-4">
                <div class="col-12 col-md-4 my-2">
                    <div class="position-relative">
                        <img class="w-100" src="static/imagem/IR1.jpg" alt="">
                        <div class="position-absolute dados">
                            <h3 class="text-right text">Toninho Programador<br>Vamos Calcular seu IRRF</h3>
                            <a href="{{url_for('calculo')}}"><button class="btn btn-primary float-right">Calcular IRRF</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 my-2">
                    <div class="position-relative">
                        <img class="w-100" src="static/imagem/ir2.png" alt="">
                        <div class="position-absolute dados">
                            <h3 class="text-left text">Toninho Programador<br>Vamos Calcular seu IRRF</h3>
                            <button class="btn btn-primary float-right">Ver Tabelas</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 my-2">
                    <div class="position-relative">
                        <img class="w-100" src="static/imagem/bannerIRfisica.png" alt="">
                        <div class="position-absolute dados">
                            <h3 class="text-right text">Toninho Programador<br>Vamos Calcular seu IRRF</h3>
                            <button class="btn btn-primary float-right">Ver um leão</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>E-MAIL</th>
                    <th>EMPRESA>
                    <th>SENHA</th>                                   
                </tr>
            </thead>
            <tbody>

                {% for usuario in usuarios %}                

                <tr> 
                                    
                  <td> {{usuario.id}} </td>  
                  <td> {{usuario.nome}} </td>  
                  <td> {{usuario.email}} </td>  
                  <td> {{usuario.empresa}} </td>                      
                  <td> {{usuario.senha}} </td>                                                   

                </tr>
                
                {% endfor %}     

            </tbody>
        </table>
    
    </body>
  {%endblock%}
  
</html>