
{% extends 'base.html'%}
    {% block conteudo %}

    <thead class="thead-default">

        <div class="container">
            <div class="row mt-4">
                <div class="col-12 col-md-4 my-2">
                    <div class="position-relative">
                        <img class="w-100" src="static/imagem/IR1.jpg" alt="">
                        <div class="position-absolute dados">
                            <h3 class="text-right text">Toninho Programador<br>Vamos Calcular seu IRRF</h3>
                            <a href="{{url_for('calculo')}}"><button class="btn btn-primary float-right">Calcular IRRF</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 my-2">
                    <div class="position-relative">
                        <img class="w-100" src="static/imagem/ir2.png" alt="">
                        <div class="position-absolute dados">
                            <h3 class="text-left text">Toninho Programador<br>Vamos Calcular seu IRRF</h3>
                            <button class="btn btn-primary float-right">Ver Tabelas</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 my-2">
                    <div class="position-relative">
                        <img class="w-100" src="static/imagem/bannerIRfisica.png" alt="">
                        <div class="position-absolute dados">
                            <h3 class="text-right text">Toninho Programador<br>Vamos Calcular seu IRRF</h3>
                            <button class="btn btn-primary float-right">Ver um leão</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>CATEGORIA</th>
                    <th>CONSOLE</th>
                    <th>ANO</th>
                    <th>Arquivo</th>
                    <th>FOTO</th>
                    <th>ACÃO</th>                    
                </tr>
            </thead>
            <tbody>

                {% for jogo in jogos %}                

                <tr> 
                                    
                  <td> {{jogo.id}} </td>  
                  <td> {{jogo.nome}} </td>  
                  <td> {{jogo.categoria}} </td>  
                  <td> {{jogo.console}} </td>                      
                  <td> {{jogo.ano}} </td>                   
                  <td> {{jogo.foto}} </td>
                  <td> <img src="{{jogo.foto}}" width="50"   height="50" ></td> 

                  <td> <a href="{{url_for('detalhes',id=jogo.id)}}" class="text-primary"> Detalhes</a> </br>        
                    <a href="{{url_for('editar_jogos',id=jogo.id)}}" class="link-success"> Editar</a>  </br>         
                    <a href="{{url_for('deletar_jogos',id=jogo.id)}}" class="link-danger"> Deletar</a> </td>                   

                </tr>
                
                {% endfor %}     

            </tbody>
        </table>
    
    </body>
  {%endblock%}
  
</html>