
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='estilo.css')}}">
</head>
<body>
    
    <nav>
        <a href="/"> Página Inicial </a><br/>
        <a href="/contatos"> Contatos </a><br/>
        <a href="/usuario2"> Usuários </a><br/>
        <a href="/cliente"> Cliente </a><br/>
        <a href="/login"> LOGIN </a><br/>
        <a href="/login2"> LOGIN 2 </a><br/>
    </nav>
    <p> 
        <img class="imgretangulo" src="{{url_for('static',filename='/imagem/banner.png') }}">
        <h2 class=imagem_titulo> O Melhor estilo</h2>       
    </p>
</body>
{%block conteudo%}
{%endblock%}
</html>