
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='estilo.css')}}">
</head>
<body>
    
    
    <img class="banner_imagem" src="{{url_for('static',filename='/imagem/banner.png') }}" >
    <h1 class="banner__titulo">Criação de site com FLASK!</h1>
   
    
    <nav class="banner__nav">
        
        <a href="/"> <img class="icone" src="{{url_for('static',filename='/imagem/menu.png') }}"> Página Inicial </a><br/>
        <a href="/contatos">  <img class="icone" src="{{url_for('static',filename='/imagem/guardar.png') }}"> Contatos </a><br/>
        <a href="/usuario2">  <img class="icone" src="{{url_for('static',filename='/imagem/Novas.png') }}"> Usuários </a><br/>
        <a href="/cliente">  <img class="icone" src="{{url_for('static',filename='/imagem/Adicionar.png') }}">Cliente </a><br/>
        <a href="/login">  <img class="icone" src="{{url_for('static',filename='/imagem/ver.png') }}">LOGIN </a><br/>
        <a href="/login2">  <img class="icone" src="{{url_for('static',filename='/imagem/Foto1.png') }}">LOGIN 2 </a><br/>
        
    </nav>
    


</body>
{%block conteudo%}
{%endblock%}
</html>