{% extends 'base.html' %}

{%block conteudo%}


   {% set mensagens = get_flashed_messages() %}
   {% if mensagens %}
      <div>
         {% for msg in mensagens %}
 <!-- Usamos a tag <li> para criar uma lista-->        
         <ul>
            <li>
               {{ msg }} 
            </li>
         </ul>
         {% endfor %}
      </div>
   {%endif%}
   
 <form action="/autenticar2" method="post">

    USUÁRIO 2: <input type="text" name = 'usuario'> <br/>
    SENHA: <input type="text" name = 'senha'><br/>
    <button type="submit"> Entrar</button>

 </form>
 


{% endblock %}