
{% extends 'base.html'%}
    {% block conteudo %}

                <ul class="cards__lista">               
           

                {% for jogo in jogos %}                
                <li class="card">
                                                 
                    <div class="card__info"> <img src="{{jogo.foto}}" width="80"   height="100" > 
                    <p class="card__titulo" > Nome:       {{jogo.nome}}  </p> 
                    <p class="card__descricao"> Categoria:  {{jogo.categoria}}   </p> 
                    <p class="card__categoria"> Console:    {{jogo.console}}   </p>                     
                    <p class="card__categoria"> Ano:        {{jogo.ano}}     </p>
                    </div>      

                
                </li>    
                {% endfor %}     
                   
                                                                                 
            </ul>
        </div>
    </section>

  {%endblock%}
  
</html>

