{% extends 'base.html'%}
    {% block conteudo %}
    
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>CATEGORIA</th>
                    <th>CONSOLE</th>
                    <th>ANO</th>
             
             <form>
                  </tr>
            </thead>
            <tbody>

                {% for jogo in jogos %}
                
                <tr>  

                  <td> <input type="text" name="name" id="name" value="{{jogo[1]}}"> </td> 
                  <td> <input type="text" name="name" id="name" value="{{jogo[2]}}"> </td> 
                  <td> <input type="text" name="name" id="name" value="{{jogo[3]}}"> </td> 
                  <td> <input type="text" name="name" id="name" value="{{jogo[4]}}"> </td> 
                                   
                </tr>
                </br/>
                  <button type="submit" class="btn btn-primary btn-success">Alterar </button>
                  <button type="submit" class="btn btn-primary btn-danger">Deletar </button>
                  <a href="/index"> PAGINA INICIAL</a><br/>

                {% endfor %}
              </form>
            </tbody>
        </table>
    </div>
  </body>
  {%endblock%}
</html>