{% extends 'base.html'%}
    {% block conteudo %}
    
                <tr>                    
                    <th>NOME</th>
                    <th>CATEGORIA</th>
                    <th>CONSOLE</th>
                    <th>ANO</th>
             
             <form method="post">
                  </tr>
            </thead>
            <tbody>

                {% for jogo in jogos %}
                
                <tr>  

                  <td> <input type="text" name="name" id="name" value="{{jogo[1]}}"> </td> 
                  <td> <input type="text" name="name" id="name" value="{{jogo[2]}}"> </td> 
                  <td> <input type="text" name="name" id="name" value="{{jogo[3]}}"> </td> 
                  <td> <input type="text" name="name" id="name" value="{{jogo[4]}}"> </td>                    
                  
                </tr>
              </br/>
              
              <br/>
              <a class="link-success" href="/index" > Alterar </a>
              <a class="link-danger" href="/alterar_jogos"> Deletar </a><br/>
                  

                {% endfor %}
              </form>
            </tbody>
        </table>
    </div>
  </body>
  {%endblock%}
</html>