{% extends 'base.html'%}
    {% block conteudo %}

    
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>CATEGORIA</th>
                    <th>CONSOLE</th>
                    <th>ANO</th>
                </tr>
            </thead>
            <tbody>

                {% for jogo in jogos %}                

                <tr>                   
                  <td> {{jogo[0]}} </td>  
                  <td> {{jogo[1]}} </td>  
                  <td> {{jogo[2]}} </td>  
                  <td> {{jogo[3]}} </td>                      
                  <td> {{jogo[4]}} </td>                      
                </tr>
                    
                {% endfor %}
            
            </tbody>
        </table>
    </div>
  </body>
  {%endblock%}
</html>